[user]
  name = NAME
	email = EMAIL
[alias]
  st = status
  ci = commit
  br = branch
  bv = branch -v -v
  cp = cherry-pick
  co = checkout
  dc = diff --cached
  df = diff HEAD~1 HEAD
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	rb = "!r() { git rebase -i HEAD~$1; }; r"
  un = reset --soft HEAD~1
  cl = reset --hard HEAD
  lp = "log --graph --pretty=format:'%Cred%h%Creset -%Cblue %an %Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
[apply]
	whitespace = fix
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[push]
  default = matching
